In [111]:
import pandas as pd
import os

In [136]:
archivos = [file for file in os.listdir('datos') if '.csv' in file]
archivos

['alpha_CEO191_julio.csv',
 'alpha_CEO191_octubre.csv',
 'alpha_CEO192_julio.csv',
 'alpha_CEO194_julio.csv',
 'alpha_CEO194_octubre.csv',
 'pantec_ceo192_noviembre.csv',
 'pantec_CEO192_octubre.csv',
 'pantec_ceo213_noviembr.csv',
 'pantec_CEO213_octubre.csv']

In [137]:
def lea_rchivo(file):
    with open(os.path.join('datos', file), 'r') as file:

        nombre = ''
        columnas = []
        datos = []
        
        i = 0
        for linea in file:
            if i == 0:
                nombre = linea.split(';')[0]
                nombre = nombre.replace(' ', '_')
            elif i == 1:
                columnas = linea.replace('\n', '').split(';')
            else:
                datos.append(linea.replace('\n', '').split(';'))
        
            i += 1

        return (nombre, columnas, datos)

In [138]:
def crear_df(file):

    nombre, columnas, datos = lea_rchivo(file)
    df_name = nombre
    df_cols = columnas
    data = datos
    
    df = pd.DataFrame(data, columns=df_cols)
    df[df_cols[0]] = pd.to_datetime(df[df_cols[0]], dayfirst=True)
    
    for i in range(1, len(df_cols[1:])+1):
        df[df_cols[i]] = pd.to_numeric(df[df_cols[i]], errors='coerce')
    
    df['ubicacion'] = df_name
    
    return df

In [139]:
df_master = pd.DataFrame()

for archivo in archivos:
    print(archivo)
    df = crear_df(archivo)
    df_master = pd.concat([df_master, df], ignore_index=True)

alpha_CEO191_julio.csv
alpha_CEO191_octubre.csv
alpha_CEO192_julio.csv
alpha_CEO194_julio.csv
alpha_CEO194_octubre.csv
pantec_ceo192_noviembre.csv
pantec_CEO192_octubre.csv
pantec_ceo213_noviembr.csv
pantec_CEO213_octubre.csv

In [141]:
df_master.tail()

,Fecha,PM10 (?g/m³),PM2.5 (?g/m³),PM1 (?g/m³),Temperatura ambiente (Celsius),Humedad Relativa (%),ubicacion
5256,2021-10-31 19:00:00,26.070,7.407,3.819,22.996,42.046,PAANTEC_SDA_CE0213
5257,2021-10-31 20:00:00,23.557,8.002,4.426,23.142,61.452,PAANTEC_SDA_CE0213
5258,2021-10-31 21:00:00,16.644,7.165,4.394,22.695,52.603,PAANTEC_SDA_CE0213
5259,2021-10-31 22:00:00,18.129,8.069,4.899,23.037,52.275,PAANTEC_SDA_CE0213
5260,2021-10-31 23:00:00,18.606,8.226,5.321,23.452,37.884,PAANTEC_SDA_CE0213

In [140]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261 entries, 0 to 5260
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Fecha                           5261 non-null   datetime64[ns]
 1   PM10 (?g/m³)                    5258 non-null   float64
 2   PM2.5 (?g/m³)                   5259 non-null   float64
 3   PM1 (?g/m³)                     5255 non-null   float64
 4   Temperatura ambiente (Celsius)  5258 non-null   float64
 5   Humedad Relativa (%)            5258 non-null   float64
 6   ubicacion                       5261 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 287.8+ KB